@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: 'Roboto',sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 30%;
  height: 80%;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  margin: auto;
  background-color: #334;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 3rem 3rem;
}

.content p {
  text-align: justify;
  margin: 1.3rem 0;
}

.content h1 {
  margin-bottom: 4rem;
}

.content .template-slide, .content .age-slide, .content .weight-slide, .content .gender-slide, .content .height-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 1rem;
}

.content .template-slide p, .content .age-slide p, .content .weight-slide p, .content .gender-slide p, .content .height-slide p {
  margin: rem 1rem;
  font-size: 1.6rem;
}

.content .bodyFat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .activityLvl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  position: absolute;
  background-color: white;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  border-radius: 30px;
  border: 0;
}

button#next {
  bottom: 10%;
  right: 10%;
}

button#prev {
  left: 1%;
}

input:focus {
  outline: none;
}

input[type='range'] {
  width: 100%;
}

input[type='number'] {
  max-width: 45%;
  min-width: 15%;
  color: #fff;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #333;
  margin: 1rem 1rem;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */