@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
$dark-color:#333;
$light-color:#fff;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    font-family:'Roboto',sans-serif ;
    background-color: $dark-color;
    color:$light-color
}

.container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: #334;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-right: 1rem;
    ul {
        margin-top: 5rem;
        list-style-type: none;
    }
    i{
        font-size: 3rem;
        padding: 1.4rem 1rem;
        cursor: pointer;
       
    }
    i:hover{
        transform: translate(2px);
    }
}
.card{
    width: 40%;
    height: 80%;
    transition: opacity 1s ease-in-out;
    display: flex;
    background-color: $dark-color;
   
    background-color: #334;
    display: none;
    opacity: 0;

    &.current{
       display:initial; 
       opacity: 1;
    }
}

.content{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    margin: auto;
    padding: 3rem 3rem;

    p{
        text-align: justify;
        margin: 1.3rem 0;
    }
    h1{
        margin-bottom:4rem;
    }
    &.content-results{

        h2{
            background-color: $dark-color;
            padding: 1rem 1.5rem;
            width: 100%;
        }
        p{
            font-size: 1.1rem;
            line-height: 1.7rem;
        }
        
    }
    .template-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 1rem;
        ;
       p{
           
            margin:0rem 1rem;
            font-size: 2rem;
       }
       
    }
    .age-slide{
        @extend .template-slide;
    }
    .weight-slide{
        @extend .template-slide;
    }
   .gender-slide{
       @extend .template-slide;
   }
   .height-slide{
       @extend .template-slide;
   }

   .bodyFat{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .activityLvl{
       @extend .template-slide;
      
   }
}

// button{
//     position: absolute;
//     background-color: white;
//     padding: 0.3rem 1rem;
//     font-size: 1.2rem;
//     border-radius: 30px;
//     border: 0;
//     &#next{
//         bottom: 10%;
//         right:10% ;
//     }
//     &#prev{
//         left:1%;
//     }

// }

input
{
    &:focus{
        outline: none;
        
    }
    &[type='range']{
        width: 100%;
    }   
    &[type='number']{
        text-align: center;
        max-width:3ch;
        min-width:1ch;
        color:$light-color;
        background-color: transparent;
        border: 0px;
        border-bottom:2px solid $light-color  ;
        margin: 1rem 1.2rem;
        font-size: 1.5rem;

        &.bodyFat{
            min-width: none;
            max-width: 80%;
        }
    }
}
  